fastapi[standard]
uvicorn[standard]
python-multipart
pandas
openpyxl
numpy
scikit-learn
xgboost
matplotlib
seaborn
pydantic-settings
sqlalchemy[asyncio]>=2.0
asyncpg
alembic
bcrypt
python-jose[cryptography]
aiofiles
